* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", system-ui;
}

body {
    background-color: whitesmoke;
    background: rgba(172,48,255,1);
    background: linear-gradient(to bottom, rgba(172,48,255,1) 0%, rgba(119,66,248,1) 52%, rgba(93,74,245,1) 77%, rgba(70,82,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac30ff', endColorstr='#4652f2', GradientType=0 );
}

nav {
    height: 100px;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);

    position:relative;
    z-index:999;
}

.navbar-start, .navbar-center, .navbar-end {
    width: 30%;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-end {
    display: flex;
    align-items: center;
    justify-content: center;
}


.navbar-end button {
    background-color: #4652f2;
    color: whitesmoke;
    height: 50px;
    width: 120px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
}

.online {
    width: 160px !important;
}

.navbar-end button:hover {
    background-color: #6670f5;
}

.navbar-end button:focus {
    background-color: #21278a;
}

.navbar-center button {
    background-color: transparent;

    height: 40px;
    width: auto;
    border-radius: 7px;
    border: 0;

    font-size: 2em;
    font-weight: bold;
}

.navbar-center button:hover {
    text-decoration: underline;
}


.content {
    width: 100vw;
    min-height: calc(100vh - 100px);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container {
    background-color: white;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);

    padding: 50px 80px;
    width: 600px;
    height: 700px;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-container h2 {
    align-self: center;
    font-size: 2rem;
}

.login-container input {
    height: 30px;
    border: 0;
    background-color: whitesmoke;
    padding-left: 8px;

    -webkit-box-shadow: inset 0 0 7px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 7px -2px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 7px -2px rgba(0,0,0,0.3);
}

.login-container div {
    display: flex;
    flex-direction: column;
}

.login-container button {
    background-color: #4652f2;
    color: whitesmoke;
    font-weight: bold;
    height: 50px;
    border: 0;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    font-size: 1.5em;
    align-self: center;

    -webkit-box-shadow: 0 0 7px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 7px -2px rgba(0,0,0,0.3);
    box-shadow: 0 0 7px -2px rgba(0,0,0,0.3);
}

.login-container button:hover {
    background-color: #6670f5;
}

.login-container button:focus {
    background-color: #21278a;
}

.login-container label {
    color: dimgray;
    font-weight: 500;
}

.login-container .password-strength {
    width: 300px;
    height: 15px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;

    -webkit-box-shadow: inset 0 0 7px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 7px -2px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 7px -2px rgba(0,0,0,0.3);

}

.very-weak, .weak, .ok, .strong{
    background-color: #e95656;
    width: 50px;
    height: 5px;
    display: inline;

    -webkit-box-shadow: 0 0 7px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 7px -2px rgba(0,0,0,0.3);
    box-shadow: 0 0 7px -2px rgba(0,0,0,0.3);
}

.hidden {
    display: none;
}

@media only screen and (max-width: 700px) {
    .content, body {
        background-color: white;
    }
    .login-container {

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        width: 100%;
        height: 700px;
    }

    .login-container input {
        height: 50px;
    }

}

#searchContainer form{
    background-color: white;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);

    padding: 50px 80px;
    width: 600px;
    height: 400px;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#searchContainer h1 {
    align-self: center;
}

#searchContainer button {
    background-color: #4652f2;
    color: whitesmoke;
    font-weight: bold;
    height: 50px;
    border: 0;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    font-size: 1.5em;
    align-self: center;

    -webkit-box-shadow: 0 0 7px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 7px -2px rgba(0,0,0,0.3);
    box-shadow: 0 0 7px -2px rgba(0,0,0,0.3);
}

#searchContainer button:hover {
    background-color: #6670f5;
}

#searchContainer button:focus {
    background-color: #21278a;
}

#searchContainer input {
    height: 50px;
    width: 100%;
    border: 0;
    background-color: whitesmoke;
    padding-left: 8px;
    font-size: 1em;
    align-self: center;

    -webkit-box-shadow: inset 0 0 7px -2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 7px -2px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 7px -2px rgba(0,0,0,0.3);
}